* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    background-color:white;
}

#pageHead {
    font-size: 34px;
    letter-spacing: 2px;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#algo {
    color: #890023;
}

#sorter {
    color: #228CDB;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#wrapper {
    position: relative;
    text-align: center;
    top: 0px;
    z-index: 0;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 843px;
    z-index: 1;
}

#buttons {
    position: relative;
    bottom: 12px;
    float: right;
}

#columns {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 840px
}


#go {
    position: relative;
    bottom: 12px;
    float: left;
}


button {
    color: black;
    position: relative;
    border: none;
    width: 95px;
    height: 44px;
    font-size: 13px;
    border-radius: 1px;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:focus {
    outline: 0;
}

button::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #424B54;
    transition: transform 250ms ease-in-out;

    transform: scaleX(0);
}

button:hover::before {
    transform: scaleX(1);
}

.individualColumn {
    border: solid #424B54 1px;
    width: 4px;
    background-color: white;
    margin: 1px;
}